@font-face {
  font-family: utm-aurora;
  src: url("../font/UTM_Aurora.ttf");
}
@font-face {
  font-family: opensans-bold;
  src: url("../font/OpenSans-Bold.ttf");
}
@font-face {
  font-family: opensans-bold-italic;
  src: url("../font/OpenSans-BoldItalic.ttf");
}
@font-face {
  font-family: opensans-extra-bold-italic;
  src: url("../font/OpenSans-ExtraBold.ttf");
}
@font-face {
  font-family: opensans-italic;
  src: url("../font/OpenSans-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: opensans-extra-bold;
  src: url("../font/OpenSans-ExtraBold.ttf");
}
@font-face {
  font-family: opensans-light;
  src: url("../font/OpenSans-Light.ttf");
}
@font-face {
  font-family: opensans-light-italic;
  src: url("../font/OpenSans-LightItalic.ttf");
}
@font-face {
  font-family: opensans-regular;
  src: url("../font/OpenSans-Regular.ttf");
}
@font-face {
  font-family: opensans-semi-bold;
  src: url("../font/OpenSans-Semibold.ttf");
}
@font-face {
  font-family: opensans-semi-bold-italic;
  src: url("../font/OpenSans-SemiboldItalic.ttf");
}

body {
  font-family: opensans-light;
}

.utm-aurora {
  font-family: utm-aurora;
}
.opensans-light {
  font-family: opensans-light;
}
.opensans-regular {
  font-family: opensans-regular;
}
.opensans-bold {
  font-family: opensans-bold;
}
.opensans-bold-italic {
  font-family: opensans-bold-italic;
}
.opensans-extra-bold-italic {
  font-family: opensans-extra-bold-italic;
}
.opensans-italic {
  font-family: opensans-italic;
}
.opensans-extra-bold {
  font-family: opensans-extra-bold;
}
.opensans-light-italic {
  font-family: opensans-light-italic;
}
.opensans-semi-bold {
  font-family: opensans-semi-bold;
}
.opensans-semi-bold-italic {
  font-family: opensans-semi-bold-italic;
}

/* menu header */
.mobile-menu a:after {
  bottom: -2;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.mobile-menu a:hover:after {
  width: 100%;
  left: 0;
}

.dropdown-menu .submenu-item a:hover:after {
  width: calc(100% - 4rem) !important;
  left: 4rem !important;
}

.dropdown-menu .submenu-item a.menu-active-service:after {
  width: calc(100% - 4rem) !important;
  left: 4rem !important;
}

#dropdown-language .submenu-item a.menu-active-service:after {
  width: calc(100% - 4rem) !important;
  left: 2rem !important;
}

#dropdown-language .submenu-item a:hover:after {
  width: calc(100% - 4rem) !important;
  left: 2rem !important;
}

.dropdown1:hover > .dropdown-menu {
  display: flex;
}

/* show dot when active */
.dropdown-menu ul:not(.submenu-item) li:not(.dropdown1) a::after {
  width: 0% !important;
}

.active-dot::after {
  content: "";
  width: 8px;
  height: 8px;
  background: #3163af;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 2.5rem;
  position: absolute;
}

.dropdown-menu ul:not(.submenu-item) li:hover:after {
  content: "";
  width: 8px;
  height: 8px;
  background: #3163af;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 2.5rem;
  position: absolute;
}

.dropdown-menu-2 ul:not(.submenu-item) li:hover:after {
  content: "";
  width: 8px;
  height: 8px;
  background: #3163af;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 2.5rem;
  position: absolute;
}

/* show underline when active */
.menu-active::after {
  width: 100% !important;
  left: 0 !important;
}

/* box */
.box-arrow {
  background: linear-gradient(
    90.08deg,
    #ecb451 9.1%,
    #deb860 20.15%,
    #bac288 41.5%,
    #80d2c8 70.75%,
    #79d4d0 74.05%,
    #6bbbd8 95.46%,
    #497aeb 140.84%,
    #436fee 148.15%,
    #af528b 192.63%,
    #dd4561 213.79%
  );
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* arrow */
.box-arrow:before {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 30px;
  border: solid 15px transparent;
  border-right-color: #e8b762;
  transform: rotate(135deg);
}

/* Center HTML Input Text Field Placeholder */
.advise::placeholder {
  text-align: center;
}

/* or, for legacy browsers */

.advise::-webkit-input-placeholder {
  text-align: center;
}

.advise:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

.advise::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

.advise:-ms-input-placeholder {
  text-align: center;
}

#base:before {
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  content: "";
  height: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: -32px;
  width: 0;
}

.learn-about:hover a {
  text-decoration: underline;
}

/* register service pack */
#options::-webkit-scrollbar {
  width: 8px;
  background: #d9d9d9;
}

/* Track */
#options::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #d9d9d9;
  border-radius: 2px;
}

/* Handle */
#options::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 2px;
}

/* Handle on hover */
#options::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1;
}

/* Hide Arrows From Input Number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* register service pack */
.sliders::-webkit-scrollbar {
  width: 0;
}

.sliders {
  overflow-x: scroll;
}

.active {
  background-color: #7C67D1 !important;
}

.block-ellipsis-2 {
  display: -webkit-box;
  max-width: 100%;
  margin: 0 auto;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.block-ellipsis-3 {
  display: -webkit-box;
  max-width: 100%;
  margin: 0 auto;
  line-height: 1;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bg-button {
  background: linear-gradient(270deg, #3163af 0%, #7c67d1 51.5%, #66cdf1 100%);
}

.text-liner-gradient {
  background: linear-gradient(90deg, #4499d4 0%, #9565db 100%);
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.bg-card {
  background: linear-gradient(180deg, #38d8f0 0%, rgba(106, 119, 221, 0) 100%);
}
.bg-card-1 {
  background: linear-gradient(180deg, #7c67d1 0%, rgba(106, 119, 221, 0) 100%);
}

.bg-btn {
  background: linear-gradient(90deg, #30e4f9 0%, #4799e5 51.5%, #b152d7 100%);
}

.shadow-inner-custom {
  box-shadow: 0px 4px 4px 0px #bcdeea inset;
}
.shadow-drop-custom {
  box-shadow: 0px 4px 4px 0px #3163af59;
}